@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <td>Info Hash</td>
                <td>Seeders</td>
                <td>Leechers</td>
                <td>Downloaded</td>
            </tr>
        </thead>
    
        @foreach(var torrent in Model.Torrents)
        {
            <tr>
                <td>@torrent.InfoHash</td>
                <td>@torrent.Seeders</td>
                <td>@torrent.Leechers</td>
                <td>@torrent.Downloaded</td>
            </tr>
        }
    </table>
</div>

<div>
    <table class="table">
        <thead>
            <tr>
                <td>Peer Id</td>
                <td>IP Address</td>
                <td>Port</td>
                <td>Info Hash</td>
                <td>Status</td>
            </tr>
        </thead>
    
        @foreach(var peer in Model.Peers)
        {
            <tr>
                <td>@peer.PeerId</td>
                <td>@peer.Address.ToString()</td>
                <td>@peer.Port</td>
                <td>@peer.InfoHash</td>
                <td>@peer.Status</td>
            </tr>
        }
    </table>
</div>
